{% extends 'base.html' %} {% load bootstrap %}
<!-- Correct the library name here -->

{% block content %}

<section class="my-5">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <div>
          <div>
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
            alt="login form" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div>
          <div class="card-body">
            <h2 class="card-title mb-4 text-center" style="color: #333;">Login</h2>
            <form method="post">
              <div class="mb-3 my-5">
                {% csrf_token %} {{ form|bootstrap }}
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" style="background-color: #3498db; border-color: #3498db;">Submit</button>
              </div>
            </form>
            <p class="mt-3 text-center" style="color: #666;">Don't have an account? <a href="{% url 'register' %}" style="color: #3498db;">Register here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}