{% extends 'base.html' %} {% load static %} {% block content %}
<div class="about-container">
	<img
		class="about-image"
		src="https://images.pexels.com/photos/2607544/pexels-photo-2607544.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
		alt="photo"
	/>
	<div class="about-text">
		<div class="about-heading">Our Purpose & Principles</div>
		<div class="about-subheading">Guided by Compassion</div>
		<p>
			Championing the cause of the most vulnerable animals while enriching the
			lives of pets and people. This fundamental belief serves as our guiding
			light, directing every endeavor to maximize our positive influence.
		</p>
	</div>
</div>

<div class="about-container">
	<div class="about-side-by-side">
		<div class="text">
			<div class="about-subheading">Principled No-Kill Philosophy™</div>
			<p>
				Upholding our promise never to euthanize a pet due to space or duration.
				Programing Guys Society (PGS) stands as a haven for the most fragile
				creatures—those who are sick, injured, or abused, often rejected
				elsewhere. By embracing these pets, we've substantially reduced
				euthanasia by 83%. Nevertheless, in exceptional cases where an animal
				suffers from severe ailments or poses a threat to others, humane
				euthanasia becomes an act of compassion.
			</p>
		</div>
		<img
			class="image"
			src="https://images.pexels.com/photos/2055231/pexels-photo-2055231.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
			alt="photo"
		/>
	</div>
</div>

<div class="about-container">
	<img
		class="about-image"
		src="https://images.pexels.com/photos/7210724/pexels-photo-7210724.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
		alt="photo"
	/>
	<div class="about-text">
		<div class="about-subheading">Enlist in Our Cause</div>
		<p>
			Daily, the Programing Guys Society confronts unimaginable scenarios—pets
			emerging from realms of abuse, neglect, and abandonment. Although we can't
			rescue them all, not a day passes without our efforts to do so.
		</p>
		<p>
			Yet, none of this lifesaving work is possible without the generosity of
			our donors. As a local nonprofit unsustained by governmental bodies or
			other humane societies, our vital work relies on our community's
			benevolence. Support us today and secure a future for pets in need.
		</p>
	</div>
</div>
{% endblock %}
