{% extends 'base.html' %} {% load bootstrap %} {% load static %} 
{% block content %}

<div class="container adoption-stories">
	<div class="fancy-text">
		<h4 class="donate-heading mt-5 mb-4">Your Pet's Happiness is Guaranteed</h4>
		<p>
			We stand by our commitment to finding the best homes for our pets. Our
			100% Adoption Guarantee means that if the pet you choose isn't the perfect
			fit for your family, you can bring them back to us at any point in their
			life, no questions asked.
		</p>
		<p>Join the happy adopters who have given pets a loving home.</p>
	</div>

	{% if adoption_stories %}
	<div class="row row-cols-1 row-cols-lg-4 g-5 py-5">
		{% for story in adoption_stories %}
		<div class="col">
			<div class="adoption_story-card">
				<img
					class="user-img"
					src="{{ story.user.userprofile.profile_picture.url }}"
					alt="{{ story.user.first_name }}"
				/>
				<img
					class="animal-img"
					src="{{ story.animal.image.url }}"
					alt="{{ story.animal.name }}"
				/>
				<div class="card-body adoption-story-body">
					<h2 class="card-title">
						{{ story.animal.name }}<span class="found-home-text"></span>
					</h2>
					<p>{{ story.application_text }}</p>
					<p>{{ story.reason_for_adoption }}</p>
					<p class="mb-0">
						Adopted by: {{ story.user.first_name }} {{ story.user.last_name }}
					</p>
					<p class="mb-0">
						Location: {{ story.user.userprofile.location }}
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% else %}
	<p class="my-5">We don't have any adoption stories yet.</p>
{% endif %}
{% endblock %}
