{% extends 'base.html' %}
{% load bootstrap %} {% load static %}

{% block content %}
<div class="container">
  <h2>Your Favourite Animals</h2>
  <div class="row row-cols-1 row-cols-lg-4 g-5 py-5">    
    {% for animal in favourite_animals %}  
      <div class="col">
        <div class="fancy-card-home">
          <a href="{% url 'animal_detail' animal_id=animal.id %}">
          <img src="{{ animal.image.url }}" alt="Animal"></a>
          <div class="card-body">
            <h2 class="card-title">{{ animal.name }}
            <form method="post" action="{% url 'animal_detail' animal_id=animal.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-link" style="color: red;">
              <h4><i class="bi bi-heart-fill"></i></h4>
              </button>
            </form>
          </h2>
          </div>
        </div>
      </div>    
    {% endfor %}
    </div>
  </div>
{% endblock %}