{% extends 'base.html' %} 
{% load static %} 

{% block content %}

<a href="{% url 'create_treatment' animal.pk %}" class="btn btn-secondary">Add Treatment</a>

  <h2>Available Treatments:</h2>
  
  {% if treatments %}
    <table class="table">
      <thead>
        <tr>
          <th>Treatment Name</th>
          <th>Date</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for treatment in treatments %}
          <tr>
            <td>{{ treatment.treatment_name }}</td>
            <td>{{ treatment.date }}</td>
            <td>{{ treatment.notes }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No treatments are available for this animal.</p>
  {% endif %}
  
  <a href="{% url 'adopted_animals' %}">Back to Adopted Animals</a>
{% endblock %}
