{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block content %}
<div class="row">
    <div class="mt-5 col-md-3 filters-all">
        <div class="filters-header">
            <h3>Filters</h3>
        </div>
        <div class="filters-content">
            <form method="get" action="">
                {% csrf_token %} {{ filter_form|bootstrap }}
                <button type="submit" class="btn btn-sm btn-success my-3">Apply Filters</button>
            </form>
        </div>
    </div>
    <div class="col-md-9 pet-cards">
        <div class="row row-cols-1 row-cols-lg-3 g-5 py-5">
            {% for dog in dogs %}
                <div class="col">
                    <div class="fancy-card-home">
                        <img src="{{ dog.image.url }}" alt="Dog">
                        <div class="card-body">
                            <h2 class="card-title">{{ dog.name }}</h2>
                            <div class="animal-data">
                                <span>{{ dog.breed }} &#8226 </span>
                                <span>{{ dog.gender }} &#8226 </span>
                                <span>{{ dog.size }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
