{% extends 'base.html' %} 
{% load static %} 

{% block content %}

<!-- slogans  -->
  <div class="fancy-container">
    <div class="fancy-image" >
      <img src="https://img.freepik.com/premium-photo/vertical-shot-positive-woman-with-curly-hair-dressed-casual-clothes-poses-with-pedigree-dog-sits-chair-enjoys-company-pet-isolated-beige-background-people-animals-friendship_747379-644.jpg?w=440" style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);  border-radius: 5px;">
    </div>
    <div class="fancy-text">
      <h3 class="fancy-heading">Discover Your Perfect Companion</h3>
      <p class="fancy-subheading">Embrace the Joy of Animal Adoption</p>
      <p>
        Unleash the love and joy of bringing a new furry friend into your life. Whether it's a loyal canine
        companion, a playful feline friend, or a cuddly critter, our shelter is home to a diverse selection of
        lovable pets ready to find their forever homes.
      </p>
      <h4>Experience the Adoption Journey</h4>
      <p>
        Embarking on your adoption journey is simple and heartwarming. Explore the profiles of our available
        pets below to find your ideal match, and then pay us a visit at one of our welcoming locations for a
        delightful meet and greet.
      </p>
      <h4>Your Pet's Happiness is Guaranteed</h4>
      <p>
        We stand by our commitment to finding the best homes for our pets. Our 100% Adoption Guarantee means
        that if the pet you choose isn't the perfect fit for your family, you can bring them back to us at any
        point in their life, no questions asked.
      </p>
    </div>
  </div>



  <!-- Find Your Pet -->
  <div class="fancy-text">
    <h4 class="mt-5 mb-4">Find Your Perfect Pet</h4>
    <p>
      Begin your journey to find the perfect furry companion! Explore our diverse selection of adorable pets eagerly
      anticipating a loving home. Whether you're in search of an energetic cat, a devoted dog, or another endearing
      furry friend, our selection is tailored to match your preferences.
    </p>
    <p>Embark on the path to becoming a cherished pet parent by adopting your new faithful companion today!</p>
    
  </div>

  <div class="container my-5">
    <div class="row justify-content-center">      
      <div class="col-3">
        <a href="{% url 'find_cats' %}">
          <div class="box search-image-home">
            <img src="https://cdn.pixabay.com/photo/2017/02/20/18/03/cat-2083492_1280.jpg" alt="cats">
          </div>
        </a>    
      </div>
      
      <div class="col-3">
        <a href="{% url 'find_dogs' %}">
          <div class="box search-image-home">
            <img src="https://cdn.pixabay.com/photo/2016/02/19/15/46/labrador-retriever-1210559_1280.jpg" alt="dogs">
          </div>
        </a>
      </div>
    
    
      <div class="col-3">
        <a href="{% url 'find_other_pets' %}">
          <div class="box search-image-home">
            <img src="https://cdn.pixabay.com/photo/2020/02/28/15/35/bird-4887736_1280.jpg" alt="other_pets">
          </div>
        </a>
      </div>
    </div>
  </div>


  <!-- Pets for adoption -->
  <div class="featured-pets">
    <span></span>
  </div>  

  <div class="fancy-text">
    <h4 class="mt-5 mb-4">Pets Available for Adoption</h4>
    <p>
      Embrace the joy of adding a new furry family member! Explore our charming pets, each brimming with affection and
      companionship, and awaiting a forever home. From the spirited playfulness of cats to the loyal devotion of dogs and
      the unique charm of other companions, you're sure to find your perfect match here.
    </p>
    <p>Join the heartwarming community of proud pet owners by adopting your future companion today!</p>
    
  </div>

  <div class="row row-cols-1 row-cols-lg-4 g-5 py-5">    
    {% for animal in animals|slice:"items|length-3:items|length" %}
      {% if forloop.counter <= 3 %}
        <div class="col">
          <div class="fancy-card-home">
            <a href="{% url 'animal_detail' animal_id=animal.id %}">
            <img src="{{ animal.image.url }}" alt="Animal"></a>
            <div class="card-body">
              <h2 class="card-title">{{ animal.name }}</h2>
              <div class="animal-data">
                <span>{{ animal.breed }} &#8226 </span>
                <span>{{ animal.gender }} &#8226 </span>
                <span>{{ animal.size }}</span>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  
    <!-- Summary box -->
    <div class="col">
      <a href="{% url 'find_all_pets'%}">
      <div class="fancy-card-home-all">
        <img src="https://cdn3.vectorstock.com/i/1000x1000/05/12/dog-and-cat-logo-vector-26730512.jpg" alt="Animal">
        <div class="card-body">
          <h2 class="card-title">{{ available_animals }}</h2>
          <div class="animal-data">
            <span>Pets available on AdoptMe</span>
          </div>
        </div>
      </div>
    </div>
  </a>
  </div>


  <!-- Pets Near User -->
  {% if user.is_authenticated %}
    {% if animals_near_user %}
      <div class="featured-pets">
        <span></span>
      </div>
      <div class="fancy-text">
        <h4 class="mt-5 mb-4">Discover Pets Near {{ user.userprofile.location }}</h4>
        <p>
          Embrace the joy of adding a new furry family member from your very own neighborhood! Explore our charming pets, each
          brimming with affection and companionship, and awaiting a forever home just around the corner. From the spirited
          playfulness of cats to the loyal devotion of dogs and the unique charm of other companions, you're sure to find your
          perfect match right here in your local area.
        </p>
        <p>Join the heartwarming community of proud pet owners by adopting your future companion from your own neighborhood today!</p>
        
        
      </div>
      <div class="row row-cols-1 row-cols-lg-3 g-5 py-5">
        {% for animal in animals_near_user %}
          <div class="col">
            <div class="fancy-card-home-near">
              <img src="{{ animal.image.url }}" alt="Animal">
              <div class="card-body">
                <h2 class="card-title">{{ animal.name }}</h2>
                <div class="animal-data">
                  <span>{{ animal.breed }} &#8226 </span>
                  <span>{{ animal.gender }} &#8226 </span>
                  <span>{{ animal.size }}</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

  
<!-- Adoption Histories -->
<div class="featured-pets">
  <span></span>
</div>

<!-- Your Pet's Happiness is Guaranteed Section -->
<div class="fancy-text">
  <h4 class="mt-5 mb-4">Your Pet's Happiness is Guaranteed</h4>
  <p>
    We stand by our commitment to finding the best homes for our pets. Our 100% Adoption Guarantee means
    that if the pet you choose isn't the perfect fit for your family, you can bring them back to us at any
    point in their life, no questions asked.
  </p>
  <p>Join the happy adopters who have given pets a loving home.</p>
</div>


<div class="row row-cols-1 row-cols-lg-4 g-5 py-5">
  {% for adoption in adoptions|slice:"items|length-4:items|length" %}
    {% if forloop.counter <= 4 %}  
    <div class="col">
      <div class="adoption-card">
        <img class="animal-img" src="{{ adoption.animal.image.url }}" alt="Animal">
        <img class="user-img" src="{{ adoption.user.userprofile.profile_picture.url }}" alt="User">
        <div class="card-body">
          <h2 class="card-title">{{ adoption.user.userprofile.first_name }} {{ adoption.user.userprofile.last_name }}</h2>
          <p>{{ adoption.user.name }}</p>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>


{% endblock %}
  
  
  
  
  
  