{% extends 'base.html' %} 
{% load static %} 

{% block content %}

<!-- animal list  -->
<div class="fancy-container">
    <div class="fancy-image">
      <img src="https://img.freepik.com/premium-photo/vertical-shot-positive-woman-with-curly-hair-dressed-casual-clothes-poses-with-pedigree-dog-sits-chair-enjoys-company-pet-isolated-beige-background-people-animals-friendship_747379-644.jpg?w=385">
    </div>
    <div class="fancy-text">
      <h3 class="fancy-heading">Discover Your Perfect Companion</h3>
      <p class="fancy-subheading">Embrace the Joy of Animal Adoption</p>
      <p>
        Unleash the love and joy of bringing a new furry friend into your life. Whether it's a loyal canine
        companion, a playful feline friend, or a cuddly critter, our shelter is home to a diverse selection of
        lovable pets ready to find their forever homes.
      </p>
      <h4>Experience the Adoption Journey</h4>
      <p>
        Embarking on your adoption journey is simple and heartwarming. Explore the profiles of our available
        pets below to find your ideal match, and then pay us a visit at one of our welcoming locations for a
        delightful meet and greet.
      </p>
      <h4>Your Pet's Happiness is Guaranteed</h4>
      <p>
        We stand by our commitment to finding the best homes for our pets. Our 100% Adoption Guarantee means
        that if the pet you choose isn't the perfect fit for your family, you can bring them back to us at any
        point in their life, no questions asked.
      </p>
    </div>
  </div>
  
  <div class="featured-pets">
    <span>Pets Available for Adoption</span>
  </div>
  
  <div class="row row-cols-1 row-cols-lg-4 g-5 py-5">
    <!-- Loop for top 3 animals -->
    {% for animal in animals %}
      {% if forloop.counter <= 3 %}
        <div class="col">
          <div class="fancy-card-home">
            <img src="{{ animal.image.url }}" alt="Animal">
            <div class="card-body">
              <h2 class="card-title">{{ animal.name }}</h2>
              <div class="animal-data">
                <span>{{ animal.breed }}</span>
                <span>{{ animal.sex }}</span>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  
    <!-- Summary box -->
    <div class="col">
      <div class="fancy-card-home-all">
        <img src="https://cdn3.vectorstock.com/i/1000x1000/05/12/dog-and-cat-logo-vector-26730512.jpg" alt="Animal">
        <div class="card-body">
          <h2 class="card-title">{{ available_animals }}</h2>
          <div class="animal-data">
            <span>Pets available on AdoptMe</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="featured-pets">
    <span>Pets Near {{user.userprofile.location}}</span>
  </div>

  <div class="row row-cols-1 row-cols-lg-3 g-5 py-5">
    {% for animal in animals %}
      {% if animal.location == user.userprofile.location %}
        <div class="col">
          <div class="fancy-card-home-near">
            <img src="{{ animal.image.url }}" alt="Animal">
            <div class="card-body">
              <h2 class="card-title">{{ animal.name }}</h2>
              <div class="animal-data">
                <span>{{ animal.breed }}</span>
                <span>{{ animal.sex }}</span>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>  

  {% endblock %}
  
  
  
  
  
  